:root {
    --white: #ffffff;
    --lightColor:#F0F5EF;
    --mediumLight: #EFF1E6;
    --regularColor: #E0E2D7;
    --mediumDark: #D2D2C8;
    --dark: #B6B7B2;
    --deepDark: #3c3c3b;
    --font: 'Bellota Text', sans-serif;
    --light: 300;
    --regular: 400;
    --bold: 700;
    --topBarHeight: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
  }

body {
    background-color: var(--mediumLight);
}

.wrapper {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: var(--font)
}

.wrapper > div {
    font-weight: var(--regular);
    font-size:20px;
    padding: .7em;
}

/* TOP BAR TOP BAR TOP BAR TOP BAR TOP BAR TOP BAR */

.top {
    box-shadow: 0 1px 8px var(--dark);
    width: 100%;
    height: var(--topBarHeight);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--regularColor);
    position:absolute;
    top: 0;
    left: 0;
    z-index: 5;   
}

.topContent {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.addNewWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.addNewButtonWrapper {
    --green: rgb(71, 140, 71);
    --darkGreen: rgb(28, 93, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: .5em 1em;
    background-color: var(--green);
    cursor: pointer;
    border-radius: 5px;
    flex-direction: row;
    column-gap:8px;
    /* transition: background-color .3s ease-in-out; */
}

.inputData {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.inputData > div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.inputData > div:first-child {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.name {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
#name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.rosterColor {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.inputData label {
    font-size: 18px;
}

.inputData input, .inputData select {
    padding: 0.3em;
    border-radius: 5px;
    border: none;
    color: var(--deepDark);
}

.inputData select {
    text-transform: capitalize;
}

#name {
    font-size: 20px;
}

.required {
    border: 2px solid #da0000!important;
}

.btnBlink {
    background-color: var(--green);
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% {
        background-color: var(--green);
    }
    50% {
        background-color: var(--darkGreen);
    }
    100% {
        background-color: var(--green);
    }
    
}

.addPlus {
    --dim: 20px;
    content: 'h';
    width: var(--dim);
    height: var(--dim);
    background-color: var(--mediumLight);
    border-radius: calc(var(--dim) / 2);  
    display: flex;
    justify-content: center;
    align-items: center; 
}

.addPlus span {
    font-size: 19px;
    color:var(--green);
    transition: color 150ms ease-in-out;
}

.addNewButtonWrapper > * {
    cursor: pointer;
}

.addNewButton {
    font-family: var(--font);
    border: none;
    background-color: transparent;
    color: var(--mediumLight);
    font-weight: var(--bold);
    font-size: 18px;
}

.addNewButtonWrapper:hover {
    background-color: var(--darkGreen);
}

.addNewButtonWrapper:hover .addPlus span {
    color: var(--darkGreen);
}

.inputDataWrapper {
    height: 0;
    overflow: hidden;
    transform-origin: top;
}

.inputData {
    padding:.5em;
}

/* BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM */

.bottom {
    --nameTagSpacing: 25px;
    margin: calc(var(--topBarHeight) + var(--nameTagSpacing)) 0 0 0;
    width: 100%;
    height: calc(100dvh - var(--topBarHeight))
}

.rosterWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 20px;
    row-gap: 40px;
    width: 100%;
    height: auto;
}

.rosterWrapper > div {
    --shadowBlur: 3px;
    padding: .5em;
    background-color: var(--mediumLight);
    border-radius: 10px;
    box-shadow: 2px 2px var(--shadowBlur) var(--dark), -2px -2px var(--shadowBlur) var(--white);
    max-width: 420px;
    width: 100%;
    position:relative;
    --leftMarg: 10px;
}

.rosterWrapper span {
    display: inline-block;
    text-transform: capitalize;
}

.rosterWrapper span.spanName {
    font-size: 30px;
    font-weight: var(--bold);
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    top: calc(var(--nameTagSpacing) * -1);
    margin: 0 0 0 var(--leftMarg);
}

.gameName {
    margin: 15px 0 0 var(--leftMarg);
}

