:root.default {
    --white: #ffffff;
    --mediumLight: #f4f4f4;
    --mediumGrey: #f0f0f0;
    --grey: #b9b8b8;
    --dark: #a39f9f;
    --mainText: ;
    --font: 'Signika Negative', sans-serif;
    --light: 300;
    --regular: 400;
    --bold: 700;
    --topBarHeight: 70px;
    --red: #da0000;
    --darkRed: #8e081a;
    --rosterText : #000000;
    --rosterSubText : #a39f9f;
    --rosterShadow: #cbcbcb78;
    --borderColor: #dfdfdf
}

:root.dark {
    --white: #1d1d30;
    --mediumLight: #15151e;
    --mediumGrey: #0f1011;
    --grey: #4c4f6a;
    --dark: #060609;
    --deepDark: #3c3c3b;
    --font: 'Signika Negative', sans-serif;
    --light: 300;
    --regular: 400;
    --bold: 700;
    --topBarHeight: 70px;
    --red: #da0000;
    --darkRed: #8e081a;
    --rosterText : #c0c1d2;
    --rosterSubText : #58596e;
    --rosterShadow: #09090978;
    --borderColor: #31323f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

select {
    background:transparent;
}

select option:first-child {
    -webkit-text-fill-color: var(--dark)!important;
}

/* Safari 10.1+ */
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  /* Safari 10.1+ specific CSS here */
  select {
    -webkit-appearance: none!important;
    appearance: none;
  }

  .inputDataWrapper {
    height: 90vh;
  }
}}

input[type="text"]:focus {
    background: transparent;
}

body {
    background-color: var(--white);
    font-family: var(--font);
    background-image: url(./IMGs/pokeBallBG.png);
    background-size: 160px;
}

.wrapper {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: var(--font)
}

.wrapper > div {
    font-weight: var(--regular);
    font-size:20px;
    padding: .7em;
}

/* & TOP BAR TOP BAR TOP BAR TOP BAR TOP BAR TOP BAR */

.top {
    box-shadow: 0 1px 8px var(--dark);
    width: 100%;
    height: var(--topBarHeight);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--mediumLight);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 3;   
}

.logoWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logoDiv {
    width: 35px;
    aspect-ratio: 1 / 1;
    position: relative;
}

.logoDiv > svg {
    width: 100%;
    position: absolute;
    transition: top .2s ease-out;
    stroke: var(--deepDark);
}

.logoTop {
    top: -10px;
}

.logoBottom {
    top: 10px;
}

.logoDiv:hover .logoTop {
    top: -15px;
}

.logoDiv:hover .logoBottom {
    top: 15px;
}

.topContent {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: relative;
    column-gap: 15px;
}

.addNewWrapper {
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.addNewButtonWrapper {
    --green: rgb(71, 140, 71);
    --darkGreen: rgb(28, 93, 55);
    display: grid;
    grid-template-columns: 20px 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;
    padding: .5em 1em;
    background-color: var(--green);
    cursor: pointer;
    border-radius: 5px;
    column-gap:8px;
    overflow: hidden;
    position: relative;
    width: 195px;
    height: 45px;
}

.addNewButtonWrapper::after {
    content: '';
    width: 100%;
    height: 0;
    background-color: var(--darkGreen);
    position: absolute;
    bottom: 0;
    transition: height .3s ease;
    transform-origin: bottom;
}

.addNewButtonWrapper:hover::after {
    height: 100%;
}

.addNewButtonWrapper > * {
    cursor: pointer;
}

.addNewButtonWrapper > div {
    position: absolute;
    z-index: 3;
}

.addNewText {
    font-family: var(--font);
    border: none;
    background-color: transparent;
    color: var(--mediumLight);
    font-weight: var(--regular);
    font-size: 18px;
}

.addPlus {
    --dim: 20px;
    grid-column: 1 / 2;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--mediumLight);
    border-radius: calc(var(--dim) / 2);  
    display: flex;
    justify-content: center;
    align-items: center; 
}

.addPlus span {
    font-size: 19px;
    color:var(--green);
    transition: color 150ms ease-in-out;
}

.addNewButtonWrapper:hover .addPlus span {
    color: var(--darkGreen);
}

.addNewText {
    grid-column: 2 / 3;
}

.clearButton {
    font-size: 14px;
    max-width: 120px;
    min-width: 75px;
    padding: 5px;
    border: 2px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey);
    cursor: pointer;
}

.clearButton:hover {
    color: var(--red);
    border-color: var(--red);
}

.themeSwitch {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.themeSwitchWrap {
    --width: 45px;
    border:1px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width);
    height: calc(var(--width) / 2);
    border-radius: calc(var(--width) / 2);
    position: relative;
    padding: 1px 7px;
    cursor: pointer;
}

.themeSwitchCirc {
    background-color: var(--grey);
    width: calc(var(--width) / 2);
    aspect-ratio: 1 / 1;
    border-radius: calc(var(--width) / 4);
    position: absolute;
    left: 0;
    transition: left .3s ease-out;
}

.fadeBg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: none;
}

/* ! WHEN ADD POKEMON BUTTON APPEARS  */
.addPokemonTextArea {
    display: grid;
    grid-template-columns: 20px auto;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    color: var(--rosterSubText);
    width: 100%;
    height: auto;
    min-height: 100px;
}

.addMonsDivs .plusSlot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.addMonsDivs .plusSlot::after {
    --dim: 20px;
    content: '';
    width: var(--dim);
    height: var(--dim);
    border-radius: var(--dim);
    border:2px solid var(--rosterSubText);
    position: absolute;
}

.plusSlot ~ div {
    font-size: 20px;
}


select option {
    text-transform: capitalize;
}

/* & INPUTS such as Name and Game */

.inputDataWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    border-radius: 1em;
    padding: 1em;
    z-index: 5;
    height: 90dvh;
    max-width: 810px;
    width: 95%;
    background-color: var(--white);
    display: none;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputData {
    display: grid;
    column-gap: 5%;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: start;
    padding: 0.5em;
    row-gap: 10px;
    width: 100%;
    justify-items: stretch;
}

.inputData > div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.inputData > div:first-child {
    display: grid;
    grid-template-columns: auto 35px;
    grid-template-rows: auto 1fr;
    gap: 5px;
    /* justify-content: center; */
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
}

.inputData > div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.inputData > div:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
    overflow: hidden;
}

/* & SELECT MON DROPDOWN */

.selectMons {
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    padding: .5em .3em;
    font-weight: var(--regular);
    font-size: 18px;
    border: none;
    border:2px solid var(--deepDark);
    background: transparent;
    color: var(--deepDark);
    font-family: var(--font);
    text-transform: uppercase;
    border-radius: 5px;
}

.name {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
#name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.rosterColor {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.inputData label {
    font-size: 12px;
    color: var(--rosterSubText);
}

.inputData input[type="text"], .inputData select {
    padding: 5px;
    border: none;
    color: var(--rosterText);
    background: transparent;
    border-bottom: 1px solid var(--deepDark);
    border-top:2px solid transparent;
    border-left:2px solid transparent;
    border-right:2px solid transparent;
    font-family: var(--font);
}

input[type="color"] {
    width: 30px;
    aspect-ratio: 1 / 1;
    border: none!important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    appearance: none;
    -webkit-appearance: none;
    border-radius: 5px;
}

.inputData select {
    text-transform: capitalize;
    font-size:19px;
}


#name {
    font-size: 20px;
}

.selectPokemon {
    border: 0;
    border-bottom: 2px solid var(--red);
    padding: 7px 7px 3px 0;
    font-size: 25px;
    font-family: var(--font);
    width: 100%;
}

/* & ADD MONS SECTION  */

.addMonsWrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.addMonsDivs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1em;
    opacity: 0;
    height: 0;
    overflow: hidden;
    
}

.addMonsDivs > div {
    padding:10px;
    width: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    flex-direction: column;
    min-height:115px;
}

.addFlex {
    display: flex!important;
}

.addMonsDivs > div:nth-child(even) {
    background-color: var(--mediumLight);
}

/* ! WITH POKEMON SELECTED, ADDING ATTRIBUTES */

.addMonsDivs select {
    text-transform: capitalize;
    color: var(--rosterText);
}

.typeDiv {
    display: flex;
    width: auto;
    column-gap: 10px;
    text-transform: capitalize;
    align-items: center;
    padding: 7px 0 0 0;
}

.typeDiv > span {
    padding: 5px 10px;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
}

.typeDiv svg {
    cursor: pointer;
}

/*  * NEW GRID FOR WHEN POKEMON INPUT DATA DISPLAYS  */
.pokemonDataDisplayGrid {
    grid-template-columns: 145px 1fr;
    grid-template-rows: 65px 30px auto 20px;
}

.spriteDiv {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.shinySwitch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 100%;
    position: relative;
}

.shinySwitch::before {
    content: 'Shiny';
    position: absolute;
    top: -7px;
    right: 3px;
    font-size: 12px;
    color: var(--rosterSubText);
}

.shinyOn {
    --yellow: #DFAB0A;
    fill: var(--yellow);
}

.typeAndShiny {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%; 
}

.inputsDiv {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 100%;
    /* height: 100%; */
    height: auto;
    display: block;
    padding: 10px 0 0 0;
}

/* * if abilities are included  */
.inputsDivAbilities {
    grid-template-columns: 1fr 2fr;
    /* grid-row: none!important; */
    column-gap: 15px;
    display: grid;
}

.selectAbilityDiv {
    overflow: hidden;
}

.inputsDivAbilities .selectMovesDiv {
    grid-column: 2 / 3;
}


.selectAbility {
    padding: 7px;
    border: none;
    border-bottom: 1px solid var(--grey);
    width: 100%;
    font-size: 18px;
    font-family: var(--font);
}

.abilitiesDescDiv {
    padding: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

/* ^ MOVE DIV STUFF  */

.selectMovesDiv {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;   
    color: var(--rosterText);
}

.selectMovesDiv div {
    background: transparent;
}

.selectMovesDiv > div {
    display: grid;
    grid-template-rows: auto 1fr;
}

.selectMovesDiv > div:not(:first-child) {
    border-top: 1px solid var(--grey);
}

.moveDivTop {
    display:grid;
    grid-template-columns: 1.5fr 2fr;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
}

.moveDivStats {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15%;
}

.darkText {
    color: var(--deepDark)
}

.moveDivBottom {
    height: 0;
    overflow: hidden;
    width: 100%;
}

.moveDivBottom > * {
    margin: 0 20px 10px 20px;
}

.selectMoves {
    padding: 7px;
    border: 0;
    font-size: 18px;
    font-family: var(--font);
}

.selectMovesDiv > select {
    padding: 5px;
    border:0;
    border-bottom: 1px solid var(--dark);
}

.selectMoves > option:nth-child(1) {
    color: var(--dark);
}

/* ? for move desc */

.moveDivDesc {
    display:flex;
    flex-direction: column-reverse;
    row-gap: 10px;
    justify-items: start;
    align-items: flex-start;
    justify-content: center;
    height: 0;
    width: 90%;
}

.movePower, .moveAccuracy, .movePp {
    font-size: 23px;
    color: var(--rosterText);
}

.moveAccuracy {
    order: 2;
  }
  
  .movePower {
    order: 1;
  }
  
  .movePp {
    order: 3;
  }


.movePower::before {
    content: 'Power';
}

.moveAccuracy::before {
    content: 'Accuracy';
}

.movePp::before {
    content: 'PP';
}

.movePower::before, .moveAccuracy::before, .movePp::before {
    font-size: 14px;
    display: block;
    position:relative;
    top: 5px;
    color: var(--rosterSubText);
}

.typeAndDamageClass {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
}

.selectAbilityDiv {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.moveType {
    color: #fff;
    padding: 3px 7px;
    border-radius: 20px;
}
.moveDamageClass {
    padding: 3px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moveEffect {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    font-size: 14px;
    line-height: 20px;
}

.removeMon {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    background-color: var(--red);
    color: #fff;
    /* width: 100%; */
    padding: 10px;
    display: flex;
    margin: 10px 0 0 0;
    height: 15px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 8px;
    cursor: pointer;
}

/* ! LOAD section  */

.loadDiv {
    grid-column: 1 / 4;
    /* height: 100%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.pokeballLoad {
    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
    
}

.displayNone {
    display: none!important;
}

.required {
    border: 2px solid var(--red)!important;
}

.bottomButtons {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.create {
    padding:.5em 1.5em;
    background-color: var(--red);
    border: none;
    color: #fff;
    font-family: var(--font);
    font-weight: var(--bold);
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0 0 0;
    font-size: 20px;
}

.create:hover {
    background-color: var(--darkRed);
}

.cancel, .reset {
    font-size: 16px;
    padding: .5em;
    background: transparent;
    border:2px solid var(--rosterSubText);
    font-family: var(--font);
    border-radius: 5px;
    color: var(--rosterSubText);
    cursor: pointer;
}

.cancel:hover, .reset:hover {
    border:2px solid var(--rosterText);
    color: var(--rosterText);
}


/* & BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM */

.bottom {
    --nameTagSpacing: 19px;
    margin: calc(var(--topBarHeight) + var(--nameTagSpacing)) 0 0 0;
    width: 100%;
    height: calc(100dvh - var(--topBarHeight))
}

.rosterWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: flex-start;
    column-gap: 20px;
    row-gap: 40px;
    width: 100%;
    height: auto;
}

.rosterWrapper > div {
    --shadowBlur: 0px;
    --shadowAxis: 4px;
    padding: .5em;
    background-color: var(--white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: var(--shadowAxis) var(--shadowAxis) var(--shadowBlur) var(--rosterShadow);
    max-width: 420px;
    width: 100%;
    position:relative;
    --leftMarg: 10px;
    color: var(--rosterText);
}

.rosterWrapper span {
    display: inline-block;
    text-transform: capitalize;
}

/* * POSTED DIVS CSS  */

.rosterWrapper span.postedName {
    height: 34px;
    font-size: 18px;
    font-weight: var(--bold);
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: calc(var(--nameTagSpacing) * -1);
    left: 0;
    display: flex;
    align-items: center;
}

.postedTop {
    display: grid;
    width: 100%;
    grid-template-columns: 60px 1fr;
    height: auto;
    grid-auto-flow: row;
    column-gap: 10px;
}

.postedSettings {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--borderColor);
    padding: 0.5em 0.5em 0.3em 0.5em;
}
.postedGame {
    font-weight: var(--bold);  
}
.editAndDelete {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    column-gap: 5px;
}

.editAndDelete > div {
    transform: scale(.8);
}

.editAndDelete > * {
    color: var(--grey);
    cursor: pointer;
}

.postedEdit, .postedDelete {
    transition: color .2s ease-out;
}

.postedEdit:hover {
    color: var(--rosterText);
}

.postedDelete:hover {
    color: var(--red);
}

.postedSprite {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postedSpriteImg {
    max-width: 96px;
    width: 100%;
}

.postedTopLeft {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-template-rows: 30px auto;
}


.postedNameAndShiny {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.bulbaDiv {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--grey);
    column-gap: 5px;
}

.bulbaLink {
    font-size: 14px;
    text-decoration: none;
    color: var(--grey);
    transition: color .2s ease-out;
}

.bulbaIcon {
    font-size: 14px!important;
    cursor: pointer;
    transition: color .2s ease-out;
}

.bulbaLink:hover {
    color: var(--rosterText);
}
.bulbaLink:hover ~ .bulbaIcon {
    color: var(--rosterText);
}

.postedType {
    width: 100%;
    grid-column: 1 / 2;
}

.postedBottom {
    overflow: hidden;
    height: 0;
}

.postedBottomInner {
    padding: 5px;
}

.postedPartyList {
    display: flex;
    flex-direction: column;
}

.postedPartyList > div {
    margin: 5px 0;
}

.expand {
    width: 100%;
    height: 15px;
    display: flex!important;
    align-items: center;
    justify-content: center;
    font-size: 14px!important;
    background-color: transparent;
    color: var(--rosterSubText);
    padding: 12px 0;
    box-shadow: 0 2px 1px var(--mediumGrey);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    
}

.expand:active {
    background-color: var(--mediumLight);
}

.postedAbility {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
}

.postedAbilityName {
    font-weight: var(--bold);
    font-size: 14px;
}
.postedShiny {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 25px;
    transform: scale(.7);
}

.postedType {
    font-size: 12px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5px;
}

.postedType span {
    padding: 3px 5px;
    border-radius: 20px;
}

.postedAbilityDesc {
    font-size: 12px;
}

.postedMovesWrap {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.postedMovesWrap > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 18px auto;
    align-items: center;
    row-gap: 5px;
}

.pMoveName {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 14px;
    font-weight: var(--bold);
}
.pMoveType {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pMoveType > span {
    color: #fff;
    padding:2px 5px;
    border-radius: 20px;
    font-size: 10px;
}

.pMoveEffect {
    transform: scale(.8);
    display: flex;
    align-items: center;
}
.pMoveStatsWrap {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-size: 18px;
    margin: 7px 0 0 0;
}

.pMovePower, .pMoveAccuracy, .pMovePp {
    position: relative;
    display: flex;
    justify-content: center;
}

.pMovePower::before, .pMoveAccuracy::before, .pMovePp::before  {
    color: var(--rosterSubText);
    font-size: 10px;
    position: absolute;
    top: -7px;
}
.pMovePower::before {
    content: 'Power';
}
.pMoveAccuracy::before {
    content: 'Accuracy';
}
.pMovePp::before {
    content: 'PP';
}
.pMoveDesc {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-size: 12px;
    color: var(--grey)
}


/* & REPONSIVE  */

@media only screen and (min-width: 1440px) {
    .rosterWrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media only screen and (max-width: 1439px) {
    .rosterWrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 1080px) {
    .rosterWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* & MAX WIDTH 680  */
@media only screen and (max-width: 680px) {

    
    .inputsDivAbilities {
        display: flex;
        flex-direction: column-reverse;
        grid-template-columns: none;
        grid-template-rows: none;
    }

    .inputData {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
        justify-content: normal;
        align-items: normal;
        /* row-gap: 10px; */
        justify-items: normal;
    }

    .inputData > div:first-child {
        grid-column: 1 / 2;
        grid-row: 1 / 2; 
    }
    
    .inputData > div:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    /* ~ BOTTOM  */
    
    .rosterWrapper {
        grid-template-columns: 1fr;
    }
}

/* & MAX WIDTH 500  */
@media only screen and (max-width: 500px) {
    
    .addMonsDivs {
        padding: 0;
    }

    .pokemonDataDisplayGrid {
        grid-template-rows: 85px 80px 40px 1fr 20px;
        grid-template-columns: 100%;
    }

    .selectPokemon {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .typeAndShiny {
        grid-column: 1 / 2;
        grid-row: 3/ 4;
    }

    .inputsDiv {
        grid-row: 4 / 5;
    }

    .spriteDiv {
        grid-column: 1 / 3;
    }

    .moveDivTop {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .selectMoves {
        width: 100%;
    }

    .moveDivStats {
        padding: 0 0 0 10px;
        justify-content: flex-start;
        column-gap: 13%;
    }

    .movePower::before, .moveAccuracy::before, .movePp::before {
        font-size: 10px;
        display: block;
        position:relative;
        top: 5px;
        color: var(--grey);
    }

    .removeMon {
        grid-row: 5 / 6;

    }
}

/* & MAX WIDTH 425 */
@media only screen and (max-width: 425px) {

    .bottom {
        padding: 0!important;
    }

    .rosterWrapper > div {
        padding: .5em 5px 5px 5px;
     }

    .inputDataWrapper {
        height: 100dvh;
        width: 100%;
        padding: .5em;
        border-radius: 0;
    }
    .bulbaLink {
        font-size: 12px;
    }
    
    .topContent {
        column-gap: 10px;
    }
    
    .addNewWrapper {
        width: fit-content;
    }

    .addNewButtonWrapper {
        display: flex;
        padding: 0.5em 1em;
        border-radius: 33px; 
        width: 65px;
        height: 45px;
    }

    .addNewText {
        display: none;
    }

    .pMoveStatsWrap {
        justify-content: space-between;
    }
    
}